@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



.logo {
    height: 70px;
    width: 70px;
    ;
}

.image1 {
    height: 200px;
    width: 250px;
    ;
}

.heading {
    font-size: 25px;
    color: red;
    text-align: center;
    font-style: italic;
}

.image2 {
    width: 50vh;
    border-radius: 20px;
}

.bg-container {
    background-color: #19232d;
    height: 100vh;
}

.image {
    height: 60px;
    width: 70px;
}

.icon {
    border-radius: 40px;
    color: #5a7184;
    font-size: 22px;
    background-color: #202b36;
}

.para {
    font-size: 10px;
    color: #5a7184;
}

.head {
    color: #5a7184;
    font-size: 20px;
    font-weight: bold;
}

.icon1 {
    color: #5a7184;
    font-size: 22px;
}

.hr-line {
    border-color: #5a7184;
    border-width: 2px;
}

.c-letter {
    border-radius: 40px;
    border-color: #5a7184;
    border-width: 2px;
    font-weight: bold;
}

.para2 {
    color: black;
    font-size: 13px;
}

.head2 {
    color: blue;
    font-size: 20px;
}

.para1 {
    font-size: 13px;
    color: #5a7184;
}

.para3 {
    font-size: 12px;
}

.image3 {
    height: 300px;
    width: 200px;
    border-radius: 20px;
}

.head5 {
    font-size: 15px;
    color: green;
}

.image5 {
    height: 45px;
    width: 130px;
}